[submodule "cocoa-hugo-theme"]
	path = cocoa-hugo-theme
	url = https://github.com/nishanths/cocoa-hugo-theme.git
[submodule "public"]
	path = public
	url = git@github.com:jyleong/jyleong.github.io.git
	branch = master
[submodule "docs/jyleong.github.io"]
	path = docs/jyleong.github.io
	url = git@github.com:jyleong/jyleong.github.io.git
	branch = master
[submodule "themes/cocoa-hugo-theme"]
	path = themes/cocoa-hugo-theme
	url = git@github.com:nishanths/cocoa-hugo-theme.git
